@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

.header {
    position: fixed;
    width: 100%;
    top:0;
    box-sizing: border-box;
    padding: 1rem 5rem;
    backdrop-filter: blur(40px);
    background-color: #00000033;
    border-bottom: 1px solid darkgray;
    z-index: 2;
  }

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 100%; 
    gap: 1rem; 
    align-items: center;
}

.header ul.mobile-display{
    display: none;
}



@media only screen and (max-width: 639px) {

    .header ul.mobile-display{
        display: flex;
    }

    .header ul.mobile-hidden{
        display: none;
    }
}


.header a{
    font-size: 1.25 rem;
    text-decoration: none;
    color: #ffffff;
    padding: 0.5rem 0;
    box-sizing: border-box;
    display: block;
    font-family: "Pretendard Variable-Regular", Helvetica;
    font-weight: 300;
}

.header a:visited{
    color: #ffffff;
}

.header a:hover{
    color:rgb(156, 156, 156);
}

.header a:active{
    color:rgb(255, 255, 255);
}

.header .spacer{
    flex-grow:2;
}

.header #name{
    position: relative;
    font-size: 32px;
    letter-spacing: -0.02em;
    line-height: 150%;
    font-weight: 500;
    font-family: 'SF Pro';
}

/*body*/
/*호버시 색이 변해야하는데 어떻게 해야하나요?*/

.div {
    width: 34px;
    position: relative;
    letter-spacing: -0.01em;
    line-height: 130%;
    display: inline-block;
    flex-shrink: 0;
}
.frame-child {
    width: 12px;
    position: relative;
    height: 6px;
}
.parent {
    align-self: stretch;
    background-color: #fff;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    box-sizing: border-box;
}
.div1 {
    position: relative;
    letter-spacing: -0.01em;
    line-height: 130%;
}
.yeardropdown {
    width: 72px;
    background-color: #fff;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    box-sizing: border-box;
}
.yeardropdown-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #000;
}
.dropdownyear {
    width: 114px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-item {
    width: 144.3px;
    position: relative;
    height: 43.8px;
}
.pickle {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 150%;
}
.pickle-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.b {
    position: relative;
    letter-spacing: -0.01em;
    line-height: 150%;
}
.wrapper {
    width: 91px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.frame-div {
    width: 151px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.frame-parent1 {
    width: 171px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.frame-group {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}
.frame-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
}
.group-parent {
    width: 382px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.instance-child {
    width: 516.7px;
    position: relative;
    height: 290.6px;
    object-fit: cover;
}
.frame-parent {
    align-self: stretch;
    border-bottom: 1px solid #b3b3b3;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 32px;
}
.instance-parent {
    align-self: stretch;
    height: 826px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 28px;
    color: #fff;
    font-family: 'Pretendard Variable';
}
.dropdownyear-parent {
    width: 100%;
    position: relative;
    height: 817px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 120px 80px 0px 80px;
    box-sizing: border-box;
    gap: 16px;
    text-align: center;
    font-size: 14px;
    color: #21232c;
    font-family: 'Wanted Sans';
}

.frame-parent:hover {
    /* 호버 시 적용될 색상 */
    background-color: #ffffff; /* 원하는 색상으로 변경 */
    color: #000;
    transition: background-color 0.3s ease;
}